.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: radial-gradient(ellipse at center, #191919 0%, #320b5a 100%);
  padding: 20px;
}

.mainHeading {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.5rem;
  background: radial-gradient(ellipse at center, #ffffff, #ffffff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 5vh;
}
