* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #25262B;
  /* background-color: white; */
  color: #D6D7DB;
}


@keyframes pulse {
          0%, 100% { opacity: 0.9; }
          50% { opacity: 0.45; }
        }