/* .card {
  position: relative;
  width: 100%;
  height: 420px;
  border-radius: 12px;
  overflow: hidden;
  background: #111;
  cursor: pointer;
}

.link {
  position: absolute;
  inset: 0;
  display: block;
}

.image {
  object-fit: cover;
  transition: transform 0.2s ease;
}

.card:hover .image {
  transform: scale(1.03);
} */


.card {
  width: 100%;
}

.link {
  display: block;
  width: 100%;
  text-decoration: none;
}

.image {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 12px;
  transition: transform 0.2s ease;
}

.card:hover .image {
  transform: scale(1.03);
}